/* Begin doc */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    min-height: 100%;
    position: relative;
}

a {
    color: black;
    text-decoration: none;
}


/* End doc */


/* Begin header */

#header {
    box-shadow: 0rem .1rem .5rem #888888;
    padding: 0rem 1rem .5rem 1rem;
    margin-bottom: 1rem;
    height: auto;
}

h1.logo {
    display: inline;
    margin-right: 1rem;
    font-size: 4rem;
}

h1.logo a {
    color: black;
    text-decoration: none;
}

ul.nav {
    display: inline;
    list-style-type: none;
}

ul.nav li {
    display: inline;
    padding: 0rem 1rem 0rem 1rem;
    font-size: 1.5rem;
}

ul.nav li a {
    color: black;
    text-decoration: none;
}

ul.nav li a:hover {
    color: black;
    text-decoration: underline;
}

ul.nav li a:active {
    color: red;
    text-decoration: underline;
}

ul.nav li a.current {
    color: black;
    text-decoration: underline;
}


/* End header */


/* Begin content */

#content {
    padding: 0rem 1rem 1.75rem 1rem;
    /* padding bottom must be equal to footer height */
}

div.gallerypreview {
    margin: 1rem;
    height: 15rem;
    width: 10rem;
    /*border: thin solid black;*/
    padding: .25rem;
    float: left;
    box-shadow: .1rem .1rem .5rem #888888;
}

div.previewimage {
    height: 8rem;
    width: 8rem;
    border: thin solid black;
    padding: 0rem;
    margin: 0rem 1rem .5rem 1rem;
}

div.previewimage img {
    height: 8rem;
    width: 8rem;
}

div.previewdescription {}

div.previewdescription h2 {
    font-size: 1.25rem;
    font-family: sans-serif;
    font-weight: bold;
}

div.previewdescription p {
    font-family: sans-serif;
}

div.breadcrumb {
    margin: .25rem;
}

div.fullpreview {
    width: 95%;
    margin: .25rem 1.25rem .25rem 1.25rem;
}

div.fullpreview h2 {
    font-size: 2rem;
    margin: 2rem 2rem 2rem 0rem;
    font-family: sans-serif;
    font-weight: bold;
}

div.fullpreview h3 {
    font-size: 1.25rem;
    margin: 1.25rem 1.25rem 1.25rem 0rem;
    font-weight: bold;
}

div.fullpreview p {
    font-size: 1rem;
    margin: 1rem;
}

div.downloadresume {
    margin: .25rem;
}

div.webresume {
    width: 95%;
    margin: .25rem 1.25rem .25rem 1.25rem;
}

div.contact {
    width: 95%;
    margin: .25rem 1.25rem .25rem 1.25rem;
}

div.contact ul {}

div.contact ul li {
    font-size: 2rem;
    margin: 2rem;
}

div.login {
    width: 95%;
    margin: .25rem 1.25rem .25rem 1.25rem;
}

label {
    margin: .25rem 1.25rem .25rem 1.25rem;
    display: inline-block;
    float: left;
    clear: left;
    width: 2rem;
    text-align: right;
}

input {
    margin: .25rem 1.25rem .25rem 1.25rem;
    display: inline-block;
    float: left;
}

input[type=submit] {
    clear: left;
}

textarea {
    resize: both;
    overflow: auto;
}


/* End header */


/* Begin footer */

#footer {
    border-style: solid;
    border-top: thin solid #888888;
    padding-top: .25rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5rem;
    background: white;
}

div.copyright {
    float: left;
    padding: 0rem 1rem 0rem 1rem;
}

div.cms {
    padding: 0rem 1rem 0rem 1rem;
    float: right;
}


/* End footer */